{% extends 'layout/base.html' %}

{% block title %}Blast Furnace Monitoring Dashboard{% endblock %}

{% block content %}{% load static %}
<style>
    body {
        background-color: #f8f9fa;
        font-size: 12px;
        /* Reduce font size */
    }

    .status-indicator {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
    }

    .green {
        background-color: green;
    }

    .red {
        background-color: red;
    }

    .box {
        border: 2px solid #007bff;
        padding: 2px;
        text-align: center;
        margin: 1px 0;
        border-radius: 10px;
        background-color: white;
    }

    /* .  {
        width: 2cm; */
    /* Set width to 2cm */
    /* height: 25px;
        padding: 5px;
        font-size: 12px;
    } */

    input[type=text] {
        color: chartreuse;
        background-color: black;
    }

    .content-container {
        height: auto;
        padding: 10px;
    }

    .equal-height {
        display: flex;
        flex-wrap: wrap;
    }

    .equal-height .card {
        flex: 1;
        min-width: 300px;
    }

    td {
        font-size: 16px !important;
        font-weight: 600 !important;

    }

    .equal-width-table td {
        width: 33.33%;
        text-align: center;
    }
</style>

<div class="container-fluid content-container">
    <form method="POST">
        {% csrf_token %}
        <div class="row equal-height">
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive table-borderless table-striped equal-width-table">
                            <tbody>
                                <tr>
                                    <td>Cold Blast Pressure:</td>
                                    <td><input type="text" class="form-control"
                                            value="{{ latest_blast_pressure.cold_blast_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Hot Blast Pressure:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.hot_blast_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Cold Blast Flow:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.cold_blast_flow }}"></td>
                                    <td>Nm³/h</td>
                                </tr>
                                <tr>
                                    <td>Hot Blast Flow:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.hot_blast_flow }}"></td>
                                    <td>Nm³/h</td>
                                </tr>
                                <tr>
                                    <td>Hot Blast Temperature:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.hot_blast_temperature }}"></td>
                                    <td>°C</td>
                                </tr>
                                <tr>
                                    <td>RAFT:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.raft }}"></td>
                                    <td>°C</td>
                                </tr>
                                <tr>
                                    <td>New Calc:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.new_calc }}"></td>
                                </tr>
                                <tr>
                                    <td>Top Pressure:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.top_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>D-Pressure Burden:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.d_pressure_burden }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Discharge Level:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.discharge_level }}"></td>
                                    <td>m</td>
                                </tr>
                                <tr>
                                    <td>Current Burden Level:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.current_burden_level }}"></td>
                                    <td>m</td>
                                </tr>
                                <tr>
                                    <td>Moisture in Hot Blast:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.moisture_hot_blast }}"></td>
                                    <td>Gr/Nm³</td>
                                </tr>
                                <tr>
                                    <td>Coal Injection Rate:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.coal_injection_rate }}"></td>
                                    <td>Kg/THM</td>
                                </tr>
                                <tr>
                                    <td>Coal Injection Rate:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.coal_injection_rate_ton }}"></td>
                                    <td>Ton/hr</td>
                                </tr>
                                <tr>
                                    <td>Oxygen Injection:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_pressure.oxygen_injection }}"></td>
                                    <td>Nm³/hr</td>
                                </tr>
                                <tr>
                                    <td>Top DP:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.top_dp }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Mid DP:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.mid_dp }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Bottom DP:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.bottom_dp }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Bottom(K) / Mid(K):</td>
                                    <td>
                                        <input type="text" class="form-control " placeholder="Bottom(K)"
                                            value="{{ latest_blast_flow.bottom_k }}">
                                    </td>
                                    <td> <input type="text" class="form-control " placeholder="Mid(K)"
                                            value="{{ latest_blast_flow.mid_k }}"></td>

                                </tr>
                                <tr>
                                    <td>Permeability (K-SUM):</td>
                                    <td><input type="text" class="form-control "
                                            value="{{ latest_blast_flow.permeability_k_sum }}"></td>
                                </tr>
                                <tr>
                                    <td>Charges Per Shift:</td>

                                </tr>
                                <tr class="text-center">
                                    <td>A</td>
                                    <td>B</td>
                                    <td>C</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control " style="width: 100%;"
                                            value="{{ latest_blast_flow.charge_A }}"></td>
                                    <td><input type="text" class="form-control " style="width: 100%;"
                                            value="{{ latest_blast_flow.charge_B }}"></td>
                                    <td><input type="text" class="form-control " style="width: 100%;"
                                            value="{{ latest_blast_flow.charge_C }}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive table-borderless table-striped equal-width-table">
                            <tbody>
                                <tr>
                                    <td>TH-1:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hot_metal_temp_th1 }}"></td>
                                </tr>
                                <tr>
                                    <td>TH-2:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hot_metal_temp_th2 }}"></td>
                                </tr>
                                <tr>
                                    <td>TH-3:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hot_metal_temp_th3 }}"></td>
                                </tr>
                                <tr>
                                    <td>TH-4:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hot_metal_temp_th4 }}"></td>
                                </tr>
                                <tr>
                                    <td>Uptake Temperature</td>
                                </tr>
                                <tr>
                                    <td>A</td>
                                    <td>B</td>
                                    <td>C</td>
                                    <td>D</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.uptake_temp_a }}"></td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.uptake_temp_b }}"></td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.uptake_temp_c }}"></td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.uptake_temp_d }}"></td>
                                </tr>
                                <tr>
                                    <td>Stack:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_stack }}"></td>
                                    <td>GJ/hr</td>
                                </tr>
                                <tr>
                                    <td>Tuyere:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_tuyere }}"></td>
                                    <td>GJ/hr</td>
                                </tr>
                                <tr>
                                    <td>Hearth:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_hearth }}"></td>
                                    <td>GJ/hr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class=" table table-responsive table-borderless table-striped equal-width-table">
                            <tbody>
                                <tr>
                                    <td>Total Flow:</td>
                                    <td>Tuyere Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.tuyere_cooling }}"></td>
                                    <td>m³/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Stack Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.stack_cooling_flow }}"></td>
                                    <td>m³/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Hearth & Bottom:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hearth_bottom_flow }}"></td>
                                    <td>m³/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Secondary Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.secondary_cooling_flow }}"></td>
                                    <td>m³/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>BLT Cooling FLOW:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.blt_cooling_flow }}"></td>
                                    <td>m³/hr</td>
                                </tr>
                                <tr>
                                    <td>Pressure:</td>
                                    <td>Tuyere Cooling HP:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.tuyere_cooling_hp }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Tuyere Cooling LP:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.tuyere_cooling_lp }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Stack Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.stack_cooling_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Hearth & Bottom:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hearth_bottom_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Secondary Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.secondary_cooling_pressure }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Tank Level:</td>
                                    <td>Tuyere Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.tuyere_cooling_tank_level }}"></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Stack Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.stack_cooling_tank_level }}"></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Hearth & Bottom:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hearth_bottom_tank_level }}"></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Secondary Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.secondary_cooling_tank_level }}"></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>BLT Cooling:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.blt_cooling_tank_level }}"></td>
                                    <td>mm</td>
                                </tr>
                                <tr>
                                    <td>Heat Load:</td>
                                    <td>Stack:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_stack }}"></td>
                                    <td>HJ/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Tuyere:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_tuyere }}"></td>
                                    <td>HJ/hr</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Hearth:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.heat_load_hearth }}"></td>
                                    <td>HJ/hr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class=" table table-responsive table-borderless table-striped equal-width-table">
                            <tbody>
                                <tr>
                                    <td>Feed Tank-1:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.feed_tank_1 }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>Feed Tank-2:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.feed_tank_2 }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>Feed Tank-3:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.feed_tank_3 }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>FCS Weight:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.fcs_weight }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>RCS-1 WT:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.rcs_1_wt }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>RCS-2 WT:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.rcs_2_wt }}"></td>
                                    <td>Ton</td>
                                </tr>
                                <tr>
                                    <td>PCI N2 Supply PR:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.pci_n2_supply_pr }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Inst. Supply PR:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.inst_supply_pr }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>Lances on Coal:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.lances_on_coal }}"></td>
                                    <td>nos</td>
                                </tr>
                                <tr>
                                    <td>HMT Production:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.hmt_production }}"></td>
                                    <td>ton/hr</td>
                                </tr>
                                <tr>
                                    <td>Low Pressure N2:</td>
                                    <td><input type="text" class="form-control  "
                                            value="{{ latest_blast_flow.low_pressure_n2 }}"></td>
                                    <td>Kg/Cm²</td>
                                </tr>
                                <tr>
                                    <td>FF-Spray Press:</td>
                                    <td><input type="text" class="form-control  " id="ff_spray_press"
                                            name="ff_spray_press" required></td>
                                    <td>kg/cm2</td>
                                </tr>
                                <tr>
                                    <td>FF-Hyd. Press:</td>
                                    <td><input type="text" class="form-control  " id="ff_hyd_press" name="ff_hyd_press"
                                            required></td>
                                    <td>kg/cm2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end me-3">
                <button type="submit" class="btn btn-primary w-auto">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById("toggleSidebar").addEventListener("click", function () {
        document.getElementById("sidebar").classList.toggle("collapsed");
    });
</script>
{% endblock %}